        body {
            font-family: "メイリオ", sans-serif;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 5px;
        }
        .title-box {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 2px solid #000000;
            padding-bottom: 5px;
            text-align: center;
        }
        .title-box img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
        .title {
            font-size: 30px;
            color: #000000;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .info-box {
            background: #e6f3f9;
            border: 1px solid #d3e8f2;
            padding: 15px;
            margin: 10px 0;
            border-radius: 5px;
        }
        .unten-status{
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size:28px;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 168px;
        }
        .unten-status img {
            width: 28px;
            height: 28px;
            margin-right: 8px;
            margin-left: -170px;
        }
        .status {
            font-size: 15px;
            color: #000000;
        }
        .update-time {
            font-size: 14px;
            color: #666;
            margin-top: 28px;
            margin-left: 2px;
        }
        .u-style{
            margin-top: 25px;
            margin-bottom: -18px;
            font-size: 18px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }
        th {
            background: #e2e7e8;
            color: black;
        }
        td {
            background: #fff;
        }

        /* Subway Animation */
        .v2_js-fTtrain {
            position: relative;
            height: 50px;
            width: 100%;
            overflow: hidden;
            border-bottom: 2px solid #000000;
        }
        .v2_js-fTtrain .train {
            position: absolute;
            bottom: 0;
            right: -120px;
            width: auto; /* JavaScriptで設定するためautoに変更 */
            height: auto; /* JavaScriptで設定するためautoに変更 */
            background-size: cover;
            animation: moveTrain 10s linear infinite;
        }
        @keyframes moveTrain {
            0% {
                left: -150%;
            }
            100% {
                left: 100%;
            }
        }
        /* Controls */
        .controls {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }

        .button-container {
            display: flex;
            gap: 20px;
            margin-bottom: 10px;
        }

        .controls button {
            padding: 15px 30px;
            font-size: 18px;
            font-weight: bold;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
        }

        .start-button {
            background-color: #4CAF50;
            color: white;
            user-select: none;
        }
        .start-button:hover {
            background-color: #00994d;
        }

        .stop-button {
            background-color: #e60012;
            color: white;
            user-select: none;
        }
        .stop-button:hover {
            background-color: #b3000f;
        }

        .speed-container {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
        }

        .speed-container input {
            width: 200px;
        }
       .t-unten{
            text-align: center;
            font-size: 12px;
            margin-top: 5px;
            margin-bottom: 0px;
       }
       /* Chrome、Safari以外 */
       summary {
            display: block;
       }

      /* Chrome、Safari */
       summary::-webkit-details-marker {
           display: none;
       }
